NODE_ENV=development

API_PORT=3000
WEB_PORT=5173

DATABASE_URL=postgresql://image_optimizer:image_optimizer@localhost:5432/image_optimizer

REDIS_HOST=localhost
REDIS_PORT=6379

UPLOAD_DIRECTORY=storage/original
OPTIMIZED_DIRECTORY=storage/optimized

